In [97]:
# Import needed modules
import pandas as pd

In [98]:
# Import file and look at first 5 rows
filepath = "Resources/purchase_data.csv"
df = pd.read_csv(filepath)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [99]:
# Make sure no numeric categories have null values
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [100]:
# Get total Player Count
totalPlayers = pd.DataFrame([{"Total Players" : df["SN"].nunique()}])
totalPlayers

   Total Players
0            576

In [101]:
# Purchasing Analysis (Total)
itemIDs = df["Item ID"].nunique()
avgPurchasePrice = df["Price"].mean()
totalPurchases = df["Purchase ID"].count()
totalRev = df["Price"].sum()
# Compile above stats into data frame and format money types to round to 2 decimal places
# Also want to format Total Revenue such that commas appear in the money figure
purchaseAnal = pd.DataFrame({"Number of Unique Items": [itemIDs], "Average Price": ["$"+str(round(avgPurchasePrice,2))],
                            "Number of Purchases" : [totalPurchases], "Total Revenue": ["$"+str("{:,}".format(round(totalRev,2)))]})
purchaseAnal

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [102]:
# Gender Demographics
# Cannot just count occurences of "Male" in Gender column, because may have duplicate SNs
# So we create new data frame with only unique SNs 
# Reference: https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/
uniqueSNs = df.sort_values("SN")
uniqueSNs.drop_duplicates(subset = ["SN"],inplace = True)

# get counts of each gender from new data frame
totalentries = uniqueSNs["SN"].count()
countmales = uniqueSNs.Gender.value_counts().Male
countfemales = uniqueSNs.Gender.value_counts().Female
countothers = uniqueSNs["Gender"].count() - countmales - countfemales

# Get percentages
male_p = round(100*countmales / totalentries,2)
female_p = round(100*countfemales / totalentries,2)
other_p = round(100*countothers / totalentries,2)

gender_demo = pd.DataFrame({"Total Count":[countmales, countfemales, countothers],
                           "Percentage of Players":[str(male_p)+"%", str(female_p)+"%", str(other_p)+"%" ]})
# make the gender categories the index
gender_demo.index = ["Male", "Female", "Other / Non-Disclosed"]
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [109]:
# Purchase counts by Gender
pur_counts = df.groupby('Gender')['Purchase ID'].count()

# Average purchase price
avg_pur = df.groupby('Gender')['Price'].mean()
# Format such that we don't lose trailing zero
avg_pur1 = ["$"+"{:.2f}".format((round(i,2))) for i in avg_pur]

# total purchase value
pur_val_avg = df.groupby('Gender')['Price'].sum()
# Format so that numbers > 1000 have comma included
pur_val_avg1 = ["$"+"{:,}".format(round(i,2)) for i in pur_val_avg]

# Average total purchase per person
# Get list of each player, their gender, and their total purchase amount
playertotals = df.groupby(['SN', 'Gender'], as_index=False)['Price'].sum()
# Group resulting data frame by gender and get mean total price
gendertotals = playertotals.groupby('Gender')['Price'].mean()
gendertotals1 = ["$"+"{:,}".format(round(i,2)) for i in gendertotals]

In [110]:
# Make new data frame for Purchasing Analysis by Gender using above info

gender_p = pd.DataFrame({"Purchase Count": pur_counts,
                        "Average Purchase Price": avg_pur1,
                        "Total Purchase Value": pur_val_avg1,
                        "Avg Total Purchase per Person": gendertotals1})

gender_p

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56