In [17]:
# Import needed modules
import pandas as pd

In [18]:
# Import file and look at first 5 rows
filepath = "Resources/purchase_data.csv"
df = pd.read_csv(filepath)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
# Make sure no numeric categories have null values
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [51]:
# Get total Player Count
totalPlayers = pd.DataFrame([{"Total Players" : df["SN"].nunique()}])
totalPlayers

   Total Players
0            576

In [52]:
# Purchasing Analysis (Total)
itemIDs = df["Item ID"].nunique()
avgPurchasePrice = df["Price"].mean()
totalPurchases = df["Purchase ID"].count()
totalRev = df["Price"].sum()
# Compile above stats into data frame and format money types to round to 2 decimal places
# Also want to format Total Revenue such that commas appear in the money figure
purchaseAnal = pd.DataFrame({"Number of Unique Items": [itemIDs], "Average Price": ["$"+str(round(avgPurchasePrice,2))],
                            "Number of Purchases" : [totalPurchases], "Total Revenue": ["$"+str("{:,}".format(round(totalRev,2)))]})
purchaseAnal

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [53]:
# Gender Demographics
# Cannot just count occurences of "Male" in Gender column, because may have duplicate SNs
# So we create new data frame with only unique SNs 
# Reference: https://www.geeksforgeeks.org/python-pandas-dataframe-drop_duplicates/
uniqueSNs = df.sort_values("SN")
uniqueSNs.drop_duplicates(subset = ["SN"],inplace = True)

# get counts of each gender from new data frame
totalentries = uniqueSNs["SN"].count()
countmales = uniqueSNs.Gender.value_counts().Male
countfemales = uniqueSNs.Gender.value_counts().Female
countothers = uniqueSNs["Gender"].count() - countmales - countfemales

# Get percentages
male_p = round(100*countmales / totalentries,2)
female_p = round(100*countfemales / totalentries,2)
other_p = round(100*countothers / totalentries,2)

gender_demo = pd.DataFrame({"Total Count":[countmales, countfemales, countothers],
                           "Percentage of Players":[str(male_p)+"%", str(female_p)+"%", str(other_p)+"%" ]})
# make the gender categories the index
gender_demo.index = ["Male", "Female", "Other / Non-Disclosed"]
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [58]:
# Purchasing Analysis (by Gender)
# Can use original data frame with duplicate SNs again

malebuys = df.Gender.value_counts().Male
femalebuys = df.Gender.value_counts().Female
otherbuys = df["Gender"].count() - malebuys - femalebuys

In [63]:
# to get remaining analytics by gender, we create new data frames for each gender
male_df = df.loc[df['Gender'] == "Male"]
female_df = df.loc[df['Gender'] == "Female"]
other_df = df.loc[((df['Gender'] != "Male") & (df['Gender'] != "Female"))]