In [17]:
# Import needed modules
import pandas as pd

In [18]:
# Import file and look at first 5 rows
filepath = "Resources/purchase_data.csv"
df = pd.read_csv(filepath)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [19]:
# Make sure no numeric categories have null values
df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [21]:
# Get total Player Count
totalPlayers = pd.DataFrame([{"Total Players" : df["SN"].nunique()}])
totalPlayers.head()

   Total Players
0            576

In [24]:
# Purchasing Analysis
itemIDs = df["Item ID"].nunique()
avgPurchasePrice = df["Price"].mean()
totalPurchases = df["Purchase ID"].count()
totalRev = df["Price"].sum()
# Compile above stats into data frame and format money types to round to 2 decimal places
purchaseAnal = pd.DataFrame({"Number of Unique Items": [itemIDs], "Average Price": [avgPurchasePrice],
                            "Number of Purchases" : [totalPurchases], "Total Revenue": [totalRev]})